__pycache__/
.venv/
node_modules/
data/raw/
data/processed/
*.log
.DS_Store
data/processed-v2/weather.sqlite
data/processed-v2/daily-all.csv.gz
node_modules/
.env
*.tfstate*
.terraform/
*.tfvars
data/parquet/
data/spark-output/
